<!DOCTYPE html>
<html>
    <head>
        <title>Search Engine Observatory</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/css/uikit.css">
        <!--<link rel="stylesheet" href="{{ '/css/uikit.css' | relative_url }}">-->


        <!--<script src="https://d3js.org/d3.v7.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>-->
        
        <!-- Plot library -->
        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
        <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>

        <!-- Code for plots -->
        <script src="{{ '/js/charts.js' | relative_url }}"></script>

        <!-- UIKit 
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit.min.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit-icons.min.js"></script>

        
        
    </head>
    <body class="uk-background-muted">
        <div class="uk-background-secondary uk-light uk-height-match uk-padding ">
            <h1 class="uk-heading-small uk-text-center">Search Engine Observatory</h1>
            <p class="uk-text-large uk-text-center">Is Google getting worse? - An Observation</p>
        </div>
        <div class="uk-background-default">
            <nav class="uk-navbar">
                <div class="uk-container">
                    <div uk-navbar>
                        <div class="uk-navbar-center">
                            <ul class="uk-navbar-nav">
                                <!--
                                <li><a href="index.html">Introduction</a></li>
                                <li><a href="general.html">General</a></li>
                                <li><a href="startpage.html">Startpage</a></li>
                                <li><a href="bing.html">Bing</a></li>
                                <li><a href="ddg.html">DuckDuckGo</a></li>
                                <li><a href="research.html">The Research</a></li>-->
                                <li><a href="index.html">Introduction</a></li>
                                <li><a href="property.html">Property Observation</a></li>
                                <li><a href="temporal.html">Temporal Observation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </nav>


        </div>
        
    

        <div class="uk-container uk-margin-medium-top">
            {{ content }}
        </div>


   
        <div class="uk-card uk-card-body uk-card-secondary uk-text-center uk-margin-medium" uk-sticky="position: bottom">
            Bauhaus-Universität Weimar <br>
            someone@uni-weimar.de
        </div>
    </body>
</html>