<!DOCTYPE html>
<html>
    <head>
        <title>Search Engine Observatory</title>
        <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">

        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="{{ '/js/charts.js' | relative_url }}"></script>
        
    </head>
    <body>
        <div class="header"> 
            Search Engine Observatory
            <p class="header_subtitle">
                Is Google getting worse? - An Observation
            </p>
        </div>
        <div class="topnav"> 
            <a href="index.html">Introduction</a>
            <a href="general.html">General</a>
            <a href="startpage.html">Startpage</a>
            <a href="bing.html">Bing</a>
            <a href="ddg.html">DuckDuckGo</a>
            <a href="research.html">The Research</a>
        </div>

        <div class="wrapper">
            <div class="content">
                {{ content }}
            </div>
        </div>

        <footer>
            Bauhaus-Universität Weimar <br>
            someone@uni-weimar.de
        </footer>
    </body>
</html>